<mat-card *transloco="let tr">
    <mat-card-title>{{ tr('produto.atualizar') }}</mat-card-title>
    <form>
        <mat-form-field>
            <input name="name"
                   matInput
                   placeholder="{{ tr('produto.nome') }}"
                   [(ngModel)]="product.name">
        </mat-form-field>
        <mat-form-field>
            <input name="price"
                   matInput
                   placeholder="{{ tr('produto.preco') }}"
                   [(ngModel)]="product.price">
        </mat-form-field>
    </form>
    <button mat-raised-button
            (click)="updateProduct()"
            color="primary">
        {{ tr('button.salvar') }}
    </button>
    
    <button mat-raised-button
            (click)="cancel()">
        {{ tr('button.cancelar') }}
    </button>
</mat-card>
